{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}

<div class="">
	<table class="table table-filter">
		<tbody>
			<tr data-status="qliksense">
				<td>
					<iframe style="border: 0;" src="http://bi.in1.com.br" width="100%" height="600px" frameborder="0" scrolling="yes" ></iframe>
				</td>
			</tr>
			<tr data-status="qliksenseqmc" class="esconder">
				<td>
					<iframe style="border: 0;" src="http://bi.in1.com.br/qmc" width="100%" height="660px" frameborder="0" scrolling="yes" ></iframe>
				</td>
			</tr>
			<tr data-status="qlikview" class="esconder">
				<td>
					<iframe style="border: 0;" src="http://qlikin.in1.com.br" width="100%" height="600px" frameborder="0" scrolling="yes"></iframe>
				</td>
			</tr>
			<tr data-status="qlikviewqmc" class="esconder">
				<td>
					<iframe style="border: 0;" src="http://172.30.3.245:4780/QMC" width="100%" height="700px" frameborder="0" scrolling="yes"></iframe>
				</td>
			</tr>
			<br>
		</tbody>
	</table>

	{% endblock conteudo %}